h1 {
    color:red;
}
ol{
    color: brown;
    font-style: italic;
}
.one{
    color:brown;
    text-decoration:line-through;
    font-weight:bold;
}
.two{
    color:red;
    background-color:yellow;
}
.three{
    color: brown;
}
ul{
    color:brown;
    letter-spacing: 8px;
}
h2{
    color:red;
}
.test{
    color:red;
    background-color: yellow;
    font-weight:bold;
}
p{
    color:darkolivegreen;
}
#home{
    background-color: yellow;
}
